<h1> Listagem de Cadastrados</h1>
<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomeEmpresa">
      <mat-header-cell *matHeaderCellDef> Nome Empresa </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nomeEmpresa}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nome">
      <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.nome}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.telefone}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>

<div class="button-row">
  <button mat-raised-button color="warn" (click)="close()">Sair</button>
</div>